html, body {
    height: 100%;
    background: linear-gradient(#cbd1dd, #cbd1dd, white); /* Standard syntax */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}

h1 {
	text-align: center;
	text-transform: uppercase;
    color: #014079;
    font-size: 30px;
    margin: 0;
    padding: 150px 0 0 0;
}

#baycoast_logo {
    margin: 30px 0 0 40px;
}

#mass_save_logo {
    float: right;
    margin: 100px 40px 0 30px;
}